<!DOCTYPE html>
<html>
<head>
    <title>Symptom Tracker</title>
    <h1 style="text-align:center; font-size: 48px; font-weight: bold;">Mediguide: Treatment Recommender</h1>	
    <link rel="stylesheet" href="symptom.css">
<style>

body {
  font-family: Verdana, sans-serif;
  background-color: #8AAAE5;		
}

.container {
  max-width: 650px;
  margin: 50px auto;
  padding: 20px;
  background-color: #FFFFFF;
  border-radius: 10px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  text-align:center;
  justify-content:center;
}

.header {
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
}

.button {
    display: inline-block;
    outline: 0;
    cursor: pointer;
    text-align: center;
    border: 0;
    padding: 7px 16px;
    min-height: 36px;
    min-width: 36px;
    color: #ffffff;
    background: #008060;
    border-radius: 4px;
    font-weight: 500;
    font-size: 14px;
    box-shadow: rgba(0, 0, 0, 0.05) 0px 1px 0px 0px, rgba(0, 0, 0, 0.2) 0px -1px 0px 0px inset;
}

.button:hover {
    background: #006e52;
}

.update {
  display: flex;
  align-items: center;
}

.delete {
  display: flex;
  align-items: center;
}

.symptom-form {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.symptom-form label {
  margin-bottom: 10px;
}

#checkbox-container {
  display: flex;
  align-items: center;
  margin: auto
  color:#000000;
}


input[type="text"],
input[type="number"] {
  width: 300px;
}


</style>

</head>
<body>
    <div class="container">
        <div class="header">
          <form action="updating" method="get">
            <div class="update">
                <button type="submit" name="update_profile">Update Profile</button>
            </div>
          </form>
        </div>	

      <form action="reading" method="post">
        <div class="symptom-form">			 
	
         <span>
		 <input type="text" id="symptomInput" placeholder="Enter symptom" name="symptomInput">
		 <input type="number" min = "0" max = "4" placeholder="Enter Severity Score from 0-4" id="severityInput" name="severityInput">
	</span>
	<br>
	<span>
		<input type="text" id="symptomInputTwo" placeholder="Enter symptom 2" name="symptomInputTwo">
		<input type="number"  min="0" max="4" placeholder="Enter Severity Score from 0-4" id="severityInputTwo" name="severityInputTwo" >
	</span>
	<br>
	<span>
		<input type="text" id="symptomInputThree" placeholder="Enter symptom 3" name="symptomInputThree" >
		<input type="number" min="0" max="4" placeholder="Enter Severity Score from 0-4" id="severityInputThree" name="severityInputThree" >
	</span>
	<br>
	<span>
		<input type="text" id="symptomInputFour" placeholder="Enter symptom 4" name="symptomInputFour" >
		<input type="number" min="0" max="4" placeholder="Enter Severity Score from 0-4" id="severityInputFour" name="severityInputFour" >
	</span>
	<br>
	<span>
		 <input type="text" id="symptomInputFive" placeholder="Enter symptom 5" name="symptomInputFive" >
		 <input type="number" min="0" max="4" placeholder="Enter Severity Score from 0-4" id="severityInputFive" name="severityInputFive" >
	</span>
	 <br>
	 <input style="align-items:center;" type="text" id="checkinDateInput" name="checkinDateInput" required readonly>
	<script>
	const checkinDateInput = document.getElementById("checkinDateInput");
	const currentDate = new Date();
	const day = String(currentDate.getDate()).padStart(2, "0");
	const month = String(currentDate.getMonth() + 1).padStart(2, "0");
	const year = currentDate.getFullYear();
	checkinDateInput.value = `${month}-${day}-${year}`;
	</script>
 
	<br>
	 <br>	
            </div>
        </div>
     
    </div>
    <div class = "container">
        <div id="checkbox-container" class="checkbox-container">
                <input style="align-items:center;" type="checkbox" id="conditionCheckbox" name="conditionCheckbox">
                <label for="conditionCheckbox">Conditions for Nausea and Fatigue</label>
                <br>
                <input style="align-items:center;" type="checkbox" id="treatmentCheckbox" name="treatmentCheckbox">
                <label for="treatmentCheckbox">Treatments for Headache</label>
        </div>
            <button style="align-items:center;" type="submit" name="results">Submit</button>

    </div>
    </form>
    <div class="container">
    <form action="deleting" method="post">
     <span>
                 <input type="text" id="symptomDeleteInput" placeholder="Enter symptom to delete" name="symptomDeleteInput" required>
                 <input type="text" placeholder="Enter Check-in Date for deletion in this format: xx-xx-xxxx" id="checkindateDeleteInput" name="checkindateDeleteInput" required>
		<input style="align-items:center;"  type="number" min="0" max="4" placeholder="Enter Severity value for deletion" id="severityDeleteInput" name="severityDeleteInput" required>
		 <div class="delete">
			 <button type="submit" name="delete_Checkin">Delete Checkin</button>
		</div>
     </span>	
    </form>
   </div>	
</body>
</html>
